# IntelliJ
.idea/
*.iml

# NetBeans
nbproject/
*.mf
lib/
build/

.settings
.project
.classpath

# VS Code
.vscode

# Java
out/

# Android Studio
/build
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties

# Rust
target/
*.lock

# R-Studio
.Rproj.user
.Rhistory
.RData
datasets/
*.Rproj
*.html

# C
output/

# Easy 68k
*.L68
*.S68
dist/
