# IntelliJ
.idea/
*.iml

# NetBeans
nbproject/
*.mf
lib/
*.xml
build/

# Java
out/

# Rust
target/
*.lock

# R-Studio
.Rproj.user

# C
output/

# Easy 68k
*.L68
*.S68
/2-Ing-Informatica/1-Cuatrimestre/algoritmia-y-EEDD-I/CuadernoAprendizaje/Ejericicio7/dist/
